.head-title{
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 50px;
    margin-top: 45px;
}
.container{
    width:60%;
    max-width: 700px;
    margin: 0 auto ;
}
.container header{
    height: 50px;
    background-color: darkblue;
    color: white;
    text-transform:capitalize;
    text-align: center;
    position:relative;
    padding: 120px;
}
.icon{
position: absolute;
top:0;
right: 10px;
padding: 10px;
}
form{
    max-width: 400px;
    margin:100px auto;
}
.form-field label{
    text-transform: capitalize;
}
.form-input{
    width: 100%;
    display: block;
    border: 0;
    border-bottom: 2px solid gray;
    padding: 20px;
}
.submit{
    margin: 0 auto;
    border: 0;
    margin-top: 10px;
    background-color: rgb(86, 71, 97);
    font-size: 25px;
    border-radius: 50px;
    display: block;
    
}